{{ if .Site.Params.widgets.enabled }}
    {{ $context := . }}
    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := .Site.Params.widgets.enabled }}
            {{ partial (printf "widget/%s" $widget) $context }}
        {{ end }}
        <div style="width: px; max-height: 1px; opacity: 0">
            <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=7J-ci2sp0cBzei24cCJp2iO8l7jpOD-im8u_ZA7SQpo'></script>
        </div>
        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5nfyqztujhr&amp;m=0c&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0&amp;cw=ffffff&amp;cb=000000" async="async"></script>
    </aside>
{{ end }}